@model List<Comment> 
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="container">
        <div class="row" style="padding-bottom: 20px;">
            @{
                var i = 0;
                foreach (var item in Model)
                {
                    if (i == 3 || i == 6) 
                    {
                                @:<div class="row" style="padding-bottom: 20px;">
                    }

                             <div class="col">
                                <div class="card">
                                  <img src="~/img/user.png" class="card-img-top rounded-image" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title text-dark">@item.User.name</h5>
                                    <p class="card-text text-dark">
                                       <span class="comment-text" id="comment-@item.Id">@item.commentText</span>
                                       <a href="javascript:void(0);" class="read-more" id="read-more-@item.Id" style="display: none;">Read More</a>
                                    </p>
                                  </div>
                                </div>
                              </div>
        
                    if (i == 2 || i == 5) 
                    {
                                @:</div>
                    }
        
                    i++;
                }
            }

        </div>
    </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
  
    var comments = document.querySelectorAll('.comment-text');

    comments.forEach(function (comment) {
        var fullText = comment.innerText;
        var wordLimit = 10;  
     
        var words = fullText.split(' ');

        if (words.length > wordLimit) {
          
            var truncatedText = words.slice(0, wordLimit).join(' ') + '...';
            var commentId = comment.id.split('-')[1]; 
            
          
            comment.innerText = truncatedText;

            var readMoreLink = document.getElementById('read-more-' + commentId);
            readMoreLink.style.display = 'inline';

            
            readMoreLink.addEventListener('click', function () {
                if (comment.innerText === truncatedText) {
                    comment.innerText = fullText;
                    readMoreLink.innerText = 'Read Less';
                } 
                else 
                {
                    comment.innerText = truncatedText;
                    readMoreLink.innerText = 'Read More';
                }
            });
        }
    });
});

</script>
<!-- Add Font Awesome CDN -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>