
body {
    background-color: #229799;
    color: #424242;
    padding: 50px;
    font-family: Roboto
}

a {
    text-decoration: none;
    color: #F5F5F5;
  
}

a:hover {
       color: #424242;
    }

card-body * {
    color: black;
}